.cards-container{
    width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;


   img{

    border-radius: 5%;
    margin-bottom: 8px;
   }

   .card-title{
    font-weight: bold;
    font-size: 24px;
   }
   .title-fav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .card-type{
    background-color: rgb(45, 92, 221);
   text-align: center;
    width: 16%;
    margin: 12px auto;
    border-radius: 5%;
    font-weight: bold;
   }

    
}